<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dubu.lockscreenusingservice" >
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.PHONE_STATE_STATE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".LockscreenActivity" >
        </activity>
        <service android:name=".service.LockscreenService" >
        </service>
        <service android:name=".service.LockscreenViewService" >
        </service>
    </application>

</manifest>
